.modalBackdrop {
    background: rgba(0, 0, 0, .65);
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    transition: opacity .5s ease-in-out;
}

.modalContainer {
    background: white;
    border-radius: 5px;
    max-width: 78%;
    margin: 50px auto;
    padding: 1vw;
    width: 50vw;
    min-width: 350px;
    max-width: 600px;
    position: relative;
    height: 75vh;
    max-height: 350px;
}
#pagecounter{

    position: absolute;
    left:2;
    bottom: 0;
}
.close {
    display: block;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 25px;
}

.modalTitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    display: inline;
}
h2{
    margin-bottom: 2vh;
}
#buttoncontainer {
    position: absolute !important;
    bottom: 10px;
    right: 10px;
}

#nextbtn {
    margin-left: 8px;
}

#contentcontainer {
    height: fit-content;
    padding: 2vw;
}

.form-check {
    font-size: 20px;
}

#figtree {
    font-family: 'Figtree', cursive;
}

#indie {
    font-family: 'Indie Flower', cursive;
}

#orb {
    font-family: 'Orbitron', cursive;
}

.picture-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.picture-selector input:checked+.pictures{
    box-shadow: 2px 2px 7px 5px grey;
}
.pictures{
    border-radius: 50%;
    cursor:pointer;
    background-size:cover;
    padding-top: 30%;
    width: 30%;
    max-height: 50%;
    /* border: 2px solid black; */
    }

    @media screen and (max-width: 400px) {
        .pictures {
            width: 25%
        }
    }