.modalBackdrop {
    background: rgba(0, 0, 0, .65);
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    transition: opacity .5s ease-in-out;
}

.modalContainer {
    background: white;
    border-radius: 5px;
    max-width: 78%;
    margin: 50px auto;
    padding: 15px;
    width: 960px;
    position: relative;

}

.close {
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 25px;
}

.modalTitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    display: inline;
}

#buttoncontainer {
    position: absolute !important;
    bottom: 10px;
    right: 10px;
}

#nextbtn {
    margin-left: 8px;
}

#contentcontainer {
    height: 50vh;
    padding: 50px;
}

.form-check {
    font-size: 20px;
}

#figtree {
    font-family: 'Figtree', cursive;
}

#indie {
    font-family: 'Indie Flower', cursive;
}

#orb {
    font-family: 'Orbitron', cursive;
}