@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(45, 206, 253, 1) 100%);
  ;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

main {
  height: 60vw;
  position: relative;
}

#page-container {
  background-color: white;
  padding: 0 !important;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .08);

}

.my-node-enter {
  opacity: 0;
}

.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.my-node-exit {
  opacity: 1;
}

.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

header h1 {
  font-family: 'Gloria Hallelujah', cursive;
}

.nav-link {
  font-family: 'Gloria Hallelujah', cursive;
  border: none !important;
  transition: all ease-in-out .5s;
}

.nav-link.active {
  box-shadow: 2px -3px 5px 1px #D8D4D7 !important;
  clip-path: inset(-10px -10px 1.4px -5px);
}

.nav.nav-tabs {
  box-shadow: inset 0px -15px 13px -10px #D8D4D7 !important;
  border: none;

}


.tab-content>.active {
  /* z-index: -1; */
  position: relative;
}

.prof-img {
  border-radius: 50%;
  height: 50vw;
  float: left;
  shape-outside: circle();
  padding: 20px;
  margin-top: 0vw;
}

#about-text {
  margin-right: 30px;
  margin-top: 1vw;
}

.project-item {
  background-size: cover;
  height: 20vw;
  padding: 0;
  border-radius: 1vw;

}

.project-info {
  background-color: rgba(0, 0, 0, .8);
  z-index: 5;
  position: relative;
  visibility: hidden;
  border-radius: 1vw;
  transition: all ease-in-out .5s;
  opacity: 0;
}

.project-item:hover .project-info {
  visibility: visible;
  opacity: 100%;
}

.project-info {
  height: inherit;
  flex-wrap: wrap;
}

.project-header {
  background-color: lightblue;
  display: inline-flex;
  border-top-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  position: absolute;
}


@media screen and (max-width: 769px) {

  .prof-img {
    height: 30vw;
  }
}