@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600&display=swap');



:root {
  --primary-color: rgb(60, 151, 255);
}

body {
  background: radial-gradient(ellipse at 100%, rgb(192, 96, 248) 0%, var(--primary-color) 100%);
  ;
  background-size: 100% 1100%;
  margin: 0;

  background-attachment: fixed;
  padding-top: 3vh;
  animation: animateBg 20s ease-in-out infinite alternate;
}



@keyframes animateBg {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}

a {
  text-decoration: none;
}

main {
  height: 60vh;
  position: relative;

}

#page-container {

  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 !important;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .08);

}

.about-page,
.projects,
.contact {
  transition: opacity ease-in .7s;
  padding: 2vw;
}

P {
  font-family: 'Figtree', cursive;
}

header h1 {
  font-family: 'Figtree', cursive;
  font-weight: 600;
  margin: 1vw;
  padding-top: 1vw;
}

.nav-link {
  font-family: 'Figtree', cursive;
  border: none !important;
  transition: all ease-in-out .5s;
}

.nav-tabs .nav-link.active {
  background-color: rgba(255, 255, 255, 0.7);
}

.nav-link.active {


  box-shadow: 2px -3px 5px 1px #D8D4D7 !important;
  clip-path: inset(-10px -10px 0px -5px);
}

.nav.nav-tabs {
  box-shadow: inset 0px -15px 13px -10px #D8D4D7 !important;
  border: none;

}


.tab-content>.active {
  /* z-index: -1; */
  position: relative;
}

.project-item {

  animation-name: animateIn;
  animation-duration: 500ms;

  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.about-page {
  height: inherit;
}

#about-container {
  height: min-content;
}

.prof-img {
  border-radius: 50%;
  height: 35vh;
  float: left;
  shape-outside: circle();
  padding: 20px;
  margin-top: 0vw;
  display: inline;
  animation-name: animateIn;
  animation-duration: 500ms;
  animation-delay: 0;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

#about-text {
  display: inline;
  font-size: 2vw;
  text-align: var(--bs-body-text-align);
  animation-name: animateInText;
  animation-duration: 1000ms;
  animation-delay: 500ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;

}

.projects {
  height: inherit;
  overflow-y: auto;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.projects {
  scrollbar-width: auto;
  scrollbar-color: #a3a3a3 #ffffff;
  scroll-padding: 10px;
}

/* Chrome, Edge, and Safari */
.projects::-webkit-scrollbar {
  width: 10px;
}

.projects::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

.projects::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 10px;
  border: 3px solid #a3a3a3;
}

.project-item {

  animation-name: animateIn;
  animation-duration: 500ms;

  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.project-item:nth-child(1) {
  animation-delay: 100ms;
}

.project-item:nth-child(2) {
  animation-delay: 200ms;
}

.project-item:nth-child(3) {
  animation-delay: 300ms;
}

.project-item:nth-child(4) {
  animation-delay: 400ms;
}

.project-item:nth-child(5) {
  animation-delay: 500ms;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  100% {
    opacity: 1;
  }
}

@keyframes animateInText {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;
  }
}

.project-item {
  background-size: cover;
  height: 20vh;
  padding: 0;
  border-radius: 1vw;
  position: relative;

}

.project-info {
  background-color: rgba(0, 0, 0, .8);
  z-index: 1;
  position: relative;
  visibility: hidden;
  border-radius: 1vw;
  transition: all ease-in-out .5s;
  opacity: 0;
}

.project-item:hover .project-info {
  visibility: visible;
  opacity: 100%;
}

.project-item:hover .project-header,
.project-item:hover .project-footer {
  opacity: 0;
}

.project-info {
  height: inherit;
  flex-wrap: wrap;
}

.project-header {
  color: white;
  background-color: rgb(0, 0, 0);
  display: inline-flex;
  border-top-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  position: absolute;
  padding: 1vw;
  font-size: 2vh;
  transition: all ease-in-out .5s;
}

.project-footer {
  transition: all ease-in-out .5s;
  background-color: rgb(0, 0, 0);
  color: white;
  display: inline-flex;
  border-top-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  position: absolute;
  padding: 1vw;
  bottom: 0;
  right: 0;
  margin: 0;
  font-size: 1vh;

}

.form-text {
  color: rgba(255, 0, 0, 0.6) !important
}

textarea {
  resize: none;
}

footer {
  height: 22vh;
}

.footer-icon {
  height: 7vw;
  min-height: 50px;
  max-height: 200px;


}

#contact-details {
  height: 1vh;
  transition-delay: 2s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: .5s;
}

#contact-details h2 {
  font-size: 25px;
}

#mobile-resume-btn {
  display: none;
  position: fixed;
  bottom: 0;
  background-color: var(--primary-color);
  width: 100vw;
  text-align: center;
  height: 50px;
  font-size: large;
}

/* these rules are used to fade components in/out */
.nopacity {
  opacity: 0;
}

.yopacity {
  opacity: 1;
}

@media screen and (max-width: 769px) {

  /* adust about section to stack image on text */
  .prof-img {
    display: block;
    float: none;
    margin: auto;
    height: 20vh;
  }

  #about-text {
    display: block;
    text-align: center;
    font-size: 2vh;
  }

}

@media screen and (max-width: 440px) {
  #resume-btn {
    display: none;
  }

  #mobile-resume-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
  }
}