@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
body {
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(139, 228, 255) 100%);
  ;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

main {
  height: 50vh;
  position: relative;
}

#page-container {
  background-color: white;
  padding: 0 !important;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .08);

}
/* each page has it's own opacity transition because the script targets individual css rules */
.about-page {
  opacity: 0;
  transition: opacity ease-in .7s;
}
.projects {
  opacity: 0;
  transition: opacity ease-in .7s;
}
.contact{
  opacity: 0;
  transition: opacity ease-in .7s;
}


header h1 {
  font-family: 'Figtree', cursive;
}

.nav-link {
  font-family: 'Figtree', cursive;
  border: none !important;
  transition: all ease-in-out .5s;
}

.nav-link.active {
  box-shadow: 2px -3px 5px 1px #D8D4D7 !important;
  clip-path: inset(-10px -10px 0px -5px);
}

.nav.nav-tabs {
  box-shadow: inset 0px -15px 13px -10px #D8D4D7 !important;
  border: none;

}


.tab-content>.active {
  /* z-index: -1; */
  position: relative;
}

.prof-img {
  border-radius: 50%;
  height: 35vh;
  float: left;
  shape-outside: circle();
  padding: 20px;
  margin-top: 0vw;
}

#about-text {
  margin-right: 30px;
  margin-top: 1vw;
}

.project-item {
  background-size: cover;
  height: 20vw;
  padding: 0;
  border-radius: 1vw;
  position: relative;

}

.project-info {
  background-color: rgba(0, 0, 0, .8);
  z-index: 1;
  position: relative;
  visibility: hidden;
  border-radius: 1vw;
  transition: all ease-in-out .5s;
  opacity: 0;
}

.project-item:hover .project-info {
  visibility: visible;
  opacity: 100%;
}
.project-item:hover .project-header,.project-item:hover .project-footer{
  opacity: 0;
}

.project-info {
  height: inherit;
  flex-wrap: wrap;
}

.project-header {
  background-color:rgb(139, 228, 255);
  display: inline-flex;
  border-top-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  position: absolute;
  padding: 1vw;
  font-size: 2vh;
  transition: all ease-in-out .5s;
}
.project-footer{
  transition: all ease-in-out .5s;
  background-color: rgb(139, 228, 255);
  display: inline-flex;
  border-top-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  position: absolute;
  padding: 1vw;
  bottom: 0;
  right: 0;
  margin: 0;
  font-size: 1vh;

}
.form-text{
  color: rgba(255, 0, 0, 0.6) !important
}
textarea{resize: none;}

footer{
  height: 30vh;
}
.footer-icon{
  height: 10vw;
}
#contact-details{
  
  height: 1vh;
  transition-delay: 2s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: .5s;
}
.nopacity {
  opacity: 0;
}
.yopacity {
  opacity: 1;
}
@media screen and (max-width: 769px) {

  .prof-img {
    height: 30vw;
  }
}